#filter_container {
  border: 5px solid pink;
}

#header {
  border: 5px solid pink;
}

#header img{
  height: 50px;
  width: 30px;
}

#filter_container img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#filter_container img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#view_part {
  border: 5px solid blue;
  height: 750px;
}

#view_part #video {
  z-index: 0;
  position: absolute;
}

#view_part #canvas{
  z-index: 1;
  position: absolute;
  margin: auto;
}

#view_part #filter{
  z-index: 2;
  position: absolute;
  margin: auto;
}
