.header {
  border: 5px solid pink;
}

.header img{
  height: 50px;
  width: 30px;
}

.middle div {
  float: left;
  clear: none;
  height: 720px;
}

#view_part {
  border: 5px solid blue;
  width : 75vw;
}

#view_part #video {
  z-index: 0;
  position: absolute;
}

#view_part #canvas{
  z-index: 1;
  position: absolute;
  margin: auto;
}

#view_part #filter{
  z-index: 2;
  position: absolute;
  margin: auto;
}

.gallery img{
  width: 30vw;
  height: auto;
}

#mini_gallery {
  float: right;
  width: 20vw;
  border: 5px solid blue;
}

#mini_gallery img {
  width: 50%;
  max-width: 130px;
  height: auto;
}
#filter_container {
  border: 5px solid blue;
}

#filter_container img {
    opacity: 0.5;
    width: 200px;
    height: auto;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#filter_container img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer {
  height: : 10vh;
  width: 100%;
  position: absolute;
  background-color: pink;
}

.footer p {
  text-align: center;
}
