* {
  background-color: grey;
}

button{
  background-color: white;
}
input {
  background-color: white;
}
fieldset{
  text-align: center;
  width: 20%;
  max-width: 300px;
  display: inline-block;
  height: 130px;
  margin: auto;
}
