html body {
  min-width: 1300px;
  max-width: 1300px;
  background-color: grey;
}

button{
  background-color: white;
  border-radius: 25%;
}

.header {
  border: 3px solid #DCDCDC;
}

.header img{
  height: 50px;
  width: 30px;
}

.body {
  border: 3px solid #DCDCDC;
}
#full_img {
  width:90vw;
  max-width: 720px;
}

.footer {
  height: : 10vh;
  width: 100%;
  position: absolute;
  background-color: pink;
}

.footer p {
  text-align: center;
}
